<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediction Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <section>
      <h2>BREAST CANCER CLASSIFICATION</h2>
      <div class="login-box">
        <form action="/predict" method="post">
          <div class="input-box">
            <input type="text" name="param0" required />
            <label for="param0">ID</label>
          </div>

          <div class="input-box">
            <input type="text" name="param1" required />
            <label for="param1">RADIUS</label>
          </div>

          <div class="input-box">
            <input type="text" name="param2" required />
            <label for="param2">TEXTURE</label>
          </div>

          <div class="input-box">
            <input type="text" name="param3" required />
            <label for="param3">PERIMETER</label>
          </div>

          <div class="input-box">
            <input type="text" name="param4" required />
            <label for="param4">AREA</label>
          </div>

          <div class="input-box">
            <input type="text" name="param5" required />
            <label for="param5">SMOOTHNESS</label>
          </div>

          <div class="input-box">
            <input type="text" name="param6" required />
            <label for="param6">COMPACTNESS</label>
          </div>

          <div class="input-box">
            <input type="text" name="param7" required />
            <label for="param7">CONCAVITY</label>
          </div>

          <div class="input-box">
            <input type="text" name="param8" required />
            <label for="param8">CONCAVE POINTS</label>
          </div>

          <div class="input-box">
            <input type="text" name="param9" required />
            <label for="param9">SYMMETRY</label>
          </div>

          <div class="input-box">
            <input type="text" name="param10" required />
            <label for="param10">FRACTAL DIMENSION</label>
          </div>
        </div>
          <button type="submit">PREDICT</button>
        </form>
      


    <h3>{{result}}</h3>
       </section>
  </body>
</html>
