<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width,inital-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="style1.css">
</head>   
<body>
    <form action="/bc" method="get">
        <h1>LOGIN</h1>
        <div class="input1">
        <input type="text" style="text-align: center;" placeholder="Username" required/>
    </div><br>
    <div class="input2">
        <input type="password" style="text-align: center;" placeholder="Password" required/>
    </div>
        <button onclick="myFunction()">Login</button>
         <script>
            function myFunction(){
            alert("Login Successful!!!");
            }
    </script>
        <a href="/forget"><p>Forget Password?</p></a>
    </form>
</body>
</html>

