<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/login.css" />
    <title>LOGIN</title>
  </head>
  <body id="particles-js">
    <div class="loginBox">
      <h2>Login</h2>
      <form action="/bc" method="get">
        <div class="userinputBox">
          <label for="username">Username</label>
          <input type="text" id="username" required />
        </div>

        <div class="userinputBox">
          <label for="password">Password</label>
          <input type="password" id="password" required />
        </div>

        <button type="submit">submit</button>
      </form>

      <script src="/static/parti.js"></script>
      <script src="/static/login.js"></script>
    </div>
  </body>
</html>
